APP_DOMAIN=your-domain.com

MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_DATABASE=daily_question
MYSQL_USER=daily_question_user
MYSQL_PASSWORD=change-this-db-password

APP_INVITE_TOKEN=team-2026
APP_INVITE_PASSCODE=daily-question
